RK_BUILDROOT_BASE_CFG="rv1126_evb_tb"
RK_ROOTFS_INITRD=y
RK_ROOTFS_ROMFS=y
RK_WIFIBT_CHIP="AP6256"
RK_UBOOT_CFG="rv1126-emmc-tb"
RK_UBOOT_SPL=y
RK_KERNEL_CFG_FRAGMENTS="rv1126-tb.config"
RK_KERNEL_DTS_NAME="rv1126-evb-ddr3-v13-tb-emmc"
RK_KERNEL_IMG_NAME="Image"
RK_BOOT_FIT_ITS_NAME="boot-tb.its"
# RK_RECOVERY is not set
RK_EXTRA_PARTITION_1_NOPACK=y
RK_EXTRA_PARTITION_2_SRC="empty"
RK_PARAMETER="parameter-tb.txt"
RK_USE_FIT_IMG=y
