RK_BUILDROOT_BASE_CFG="rv1126_rv1109_spi_nand"
RK_ROOTFS_UBI=y
RK_UBOOT_CFG_FRAGMENTS="rk-nand"
RK_UBOOT_SPL=y
RK_KERNEL_CFG_FRAGMENTS="rv1126-slc-nand.config"
RK_KERNEL_DTS_NAME="rv1126-evb-ddr3-v12-spi-nand"
RK_RECOVERY_BASE_CFG="rv1126_rv1109_spi_nand"
RK_EXTRA_PARTITION_1_FSTYPE="ubi"
RK_EXTRA_PARTITION_1_SRC="empty"
RK_EXTRA_PARTITION_2_FSTYPE="ubi"
RK_EXTRA_PARTITION_2_SRC="empty"
RK_PARAMETER="parameter-fit-nand-256M.txt"
RK_USE_FIT_IMG=y
