RK_BUILDROOT_BASE_CFG="rv1126_sllock"
RK_ROOTFS_INITRD=y
RK_ROOTFS_ROMFS=y
RK_UBOOT_CFG="rv1126-bat-emmc-tb"
RK_KERNEL_CFG_FRAGMENTS="rv1126-tb.config rv1126-battery-evb.config rv1126-sllock.config"
RK_KERNEL_DTS_NAME="rv1126-sllock"
RK_KERNEL_IMG_NAME="Image"
RK_RECOVERY_FIT_ITS_NAME="boot-tb.its"
RK_EXTRA_PARTITION_1_SRC="empty"
RK_EXTRA_PARTITION_2_SRC="empty"
RK_PARAMETER="parameter-sllock.txt"
RK_USE_FIT_IMG=y
