RK_BUILDROOT_BASE_CFG="rv1126_battery_evb"
RK_ROOTFS_INITRD=y
RK_ROOTFS_ROMFS=y
RK_UBOOT_CFG="rv1126-bat-emmc-tb"
RK_KERNEL_CFG_FRAGMENTS="rv1126-tb.config rv1126-battery-evb.config"
RK_KERNEL_DTS_NAME="rv1126-bat-evb-v11"
RK_KERNEL_IMG_NAME="Image"
RK_BOOT_FIT_ITS_NAME="boot-tb.its"
# RK_RECOVERY is not set
RK_EXTRA_PARTITION_1_NOPACK=y
RK_EXTRA_PARTITION_2_NOPACK=y
RK_PARAMETER="parameter-tb.txt"
RK_USE_FIT_IMG=y
