RK_BUILDROOT_BASE_CFG="rv1126_evb_tb"
RK_ROOTFS_TYPE="romfs"
RK_ROOTFS_INITRD=y
RK_UBOOT_CFG="rv1126-emmc-tb"
RK_UBOOT_OPTS="--spl-new"
RK_KERNEL_VERSION="4.19"
RK_KERNEL_CFG_FRAGMENTS="rv1126-tb.config"
RK_KERNEL_DTS_NAME="rv1126-evb-ddr3-v13-tb-emmc"
RK_KERNEL_IMG_NAME="Image"
RK_USE_FIT_IMG=y
RK_BOOT_FIT_ITS="boot-tb.its"
RK_RECOVERY_BASE_CFG=""
RK_PARAMETER="parameter-tb.txt"
RK_MISC_IMG=""
RK_EXTRA_PARTITION_1_SRC=""
RK_EXTRA_PARTITION_2_SRC="empty"
RK_WIFIBT_CHIP="AP6256"
