RK_BUILDROOT_BASE_CFG="rv1126_rv1109_uvcc_spi_nor"
RK_ROOTFS_SQUASHFS=y
RK_UBOOT_CFG="rv1126-spi-nor-tiny"
RK_UBOOT_SPL=y
RK_UBOOT_RAW=y
RK_KERNEL_CFG_FRAGMENTS="rv1126-uvc-spi-nor.config"
RK_KERNEL_DTS_NAME="rv1126-evb-ddr3-v12-spi-nor"
RK_EXTRA_PARTITION_NUM=1
RK_EXTRA_PARTITION_1_DEV="userdata"
RK_EXTRA_PARTITION_1_FSTYPE="jffs2"
RK_EXTRA_PARTITION_1_SRC="empty"
RK_PARAMETER="parameter-spi-nor-16M.txt"
