RK_BUILDROOT_BASE_CFG="rv1126_rv1109_ramboot_uvcc"
RK_ROOTFS_INITRD=y
RK_UBOOT_CFG="rv1126-ramboot"
RK_UBOOT_INI="RV1126MINIALL_RAMBOOT.ini"
RK_UBOOT_SPL=y
RK_KERNEL_DTS_NAME="rv1126-evb-ddr3-v13"
RK_EXTRA_PARTITION_1_SRC="uvcc"
RK_PARAMETER="parameter-buildroot-fit.txt"
RK_USE_FIT_IMG=y
