RK_BUILDROOT_CFG="rockchip_rk3326_robot64"
RK_ROOTFS_TYPE="squashfs"
RK_KERNEL_CFG="rk3326_linux_robot_defconfig"
RK_KERNEL_DTS_NAME="rk3326-evb-lp3-v10-robot-linux"
RK_BOOT_IMG="zboot.img"
RK_RECOVERY_CFG="rockchip_rk3326_robot_recovery"
RK_WIFIBT_CHIP="AP6212A1"
RK_WIFIBT_TTY="ttyS1"
RK_PARAMETER="parameter-robot.txt"
