RK_CHIP="rk3308"
RK_BUILDROOT_BASE_CFG="rk3308_bs_release"
RK_ROOTFS_TYPE="squashfs"
RK_KERNEL_DTS_NAME="rk3308bs-evb-amic-v11"
RK_UBOOT_SPL_INI="RK3308MINIALL_UART4.ini"
RK_WIFIBT_CHIP="AP6256"
RK_PARAMETER="parameter-64bit.txt"
