RK_CHIP="rk3308"
RK_BUILDROOT_CFG="rockchip_rk3308_b_release"
RK_ROOTFS_TYPE="squashfs"
RK_KERNEL_DTS_NAME="rk3308b-evb-amic-v10"
RK_BOOT_IMG="zboot.img"
RK_UBOOT_SPL_INI="RK3308MINIALL_UART4.ini"
RK_WIFIBT_CHIP="AP6255"
RK_PARAMETER="parameter-64bit.txt"
