# RK_BUILDROOT is not set
RK_DEBIAN_BULLSEYE=y
RK_ROOTFS_TARGET_XFCE=y
RK_UBOOT_TRUST_INI="RK3128TOS.ini"
RK_KERNEL_CFG="lubancat_linux_rk3128_defconfig"
RK_KERNEL_PREFERRED="5.10"
RK_KERNEL_DTS_NAME="rk3128-lubancat-generic"
RK_KERNEL_EXTBOOT=y
# RK_RECOVERY is not set
RK_EXTRA_PARTITION_NUM=0
RK_PARAMETER="parameter-extboot.txt"
RK_PACKAGE_FILE_CUSTOM=y
RK_PACKAGE_FILE="package-file-extboot"
