# RK_BUILDROOT is not set
RK_ROOTFS_TARGET_LITE=y
RK_WIFIBT_CHIP="RTL8189FS"
RK_UBOOT_TRUST_INI="RK3128TOS.ini"
RK_KERNEL_CFG="lubancat_linux_rk3128_defconfig"
RK_KERNEL_VERSION="5.10"
RK_KERNEL_CFG_FRAGMENTS=""
RK_KERNEL_DTS_NAME="rk3128-lubancat-generic"
RK_KERNEL_EXTBOOT=y
# RK_RECOVERY is not set
RK_EXTRA_PARTITION_NUM=0
RK_PACKAGE_FILE_CUSTOM=y
