RK_ROOTFS_UBI=y
RK_UBOOT_CFG_FRAGMENTS="rk312x-slc-nand"
RK_UBOOT_INI="RK3126MINIALL_WO_FTL.ini"
RK_UBOOT_TRUST_INI="RK3126TOS_LADDR.ini"
RK_UBOOT_SPL=y
RK_KERNEL_CFG_FRAGMENTS="rk3126_linux_slc_nand.config"
RK_KERNEL_DTS_NAME="rk3126c-evb-ddr3-v10-linux-slc"
RK_EXTRA_PARTITION_1_FSTYPE="ubi"
RK_EXTRA_PARTITION_2_FSTYPE="ubi"
RK_PARAMETER="parameter-buildroot-rk3126-slc.txt"
