RK_ROOTFS_UBI=y
RK_ROOTFS_INSTALL_MODULES=y
RK_WIFIBT_CHIP="RK960"
# RK_ROOTFS_LOG_GUARDIAN is not set
RK_UBOOT_CFG_FRAGMENTS="rk3506 rk3506_tb"
RK_UBOOT_SPL=y
RK_KERNEL_ARM32=y
RK_KERNEL_CFG="rk3506_defconfig"
RK_KERNEL_CFG_FRAGMENTS="rk3506-display.config"
RK_KERNEL_DTS_NAME="rk3506g-demo-display-control"
RK_BOOT_COMPRESSED=y
RK_BOOT_FIT_ITS_NAME="thunderboot.its"
RK_RECOVERY_FIT_ITS_NAME="thunderboot4recovery.its"
RK_FLASH_SIZE=2048
RK_EXTRA_PARTITION_1_SRC="rk3506_oem"
RK_PARAMETER="parameter-128M.txt"
RK_USE_FIT_IMG=y
