RK_ROOTFS_SQUASHFS=y
RK_WIFIBT_RTK_CYW=y
RK_UBOOT_SPL=y
RK_KERNEL_ARM32=y
RK_KERNEL_CFG="rk3506_defconfig"
RK_KERNEL_DTS_NAME="rk3506g-evb1-v10"
RK_BOOT_COMPRESSED=y
RK_RECOVERY_FIT_ITS_NAME="zboot4recovery.its"
RK_EXTRA_PARTITION_1_FSTYPE="ext2"
RK_EXTRA_PARTITION_2_FSTYPE="ext2"
RK_PARAMETER="parameter-128M.txt"
RK_USE_FIT_IMG=y
