RK_ROOTFS_UBI=y
RK_WIFIBT_CHIP="CYW43455"
RK_UBOOT_CFG_FRAGMENTS="rk3506"
RK_UBOOT_SPL=y
RK_KERNEL_ARM32=y
RK_KERNEL_CFG="rk3506_defconfig"
RK_KERNEL_DTS_NAME="rk3506g-demo-display-control"
RK_BOOT_COMPRESSED=y
RK_RECOVERY_FIT_ITS_NAME="zboot4recovery.its"
RK_FLASH_SIZE=2048
RK_EXTRA_PARTITION_1_FSTYPE="ubi"
RK_EXTRA_PARTITION_1_SRC="rk3506_oem"
RK_EXTRA_PARTITION_2_FSTYPE="ubi"
RK_PARAMETER="parameter-128M.txt"
RK_USE_FIT_IMG=y
