RK_BUILDROOT_BASE_CFG="rk3502_robot"
# RK_YOCTO is not set
RK_ROOTFS_UBI=y
RK_ROOTFS_INSTALL_MODULES=y
# RK_ROOTFS_ASYNC_COMMIT is not set
# RK_ROOTFS_DEBUG_INFO is not set
RK_WIFIBT_CHIP="AP6256"
# RK_ROOTFS_LOG_GUARDIAN is not set
# RK_ROOTFS_OVERLAY is not set
RK_UBOOT_CFG_FRAGMENTS="rk3502-tiny"
RK_UBOOT_SPL=y
RK_KERNEL_CFG="rk3506_defconfig"
RK_KERNEL_CFG_FRAGMENTS="rk3502-robot.config"
RK_KERNEL_DTS_NAME="rk3502g-evb1-v10"
RK_KERNEL_RECOVERY_CFG_FRAGMENTS="rk3502-recovery.config"
RK_BOOT_COMPRESSED=y
RK_RECOVERY_BASE_CFG="rk3502"
RK_RECOVERY_CPIO_XZ=y
RK_RECOVERY_FIT_ITS_NAME="zboot4recovery.its"
RK_FLASH_SIZE=2048
RK_EXTRA_PARTITION_1_FSTYPE="ubi"
RK_EXTRA_PARTITION_1_SRC="rk3506_oem"
RK_EXTRA_PARTITION_2_FSTYPE="ubi"
RK_PARAMETER="parameter-128M-tiny.txt"
RK_MISC_RECOVERY=y
RK_USE_FIT_IMG=y
