RK_UBOOT_CFG="rk3568-pcie-ep"
RK_UBOOT_SPL=y
RK_KERNEL_CFG_FRAGMENTS="rockchip_linux_pcie_ep.config"
RK_KERNEL_DTS_NAME="rk3568-pcie-ep-lp4x-v10-linux"
RK_PARAMETER="parameter-buildroot-fit.txt"
RK_USE_FIT_IMG=y
