RK_BUILDROOT_BASE_CFG="rk3308_bs_lvgl_release"
RK_ROOTFS_SQUASHFS=y
RK_WIFIBT_CHIP="AP6256"
RK_KERNEL_CFG_FRAGMENTS="rk3308bs_mipi_display.config"
RK_KERNEL_DTS_NAME="rk3308-evb-audio-v11-display-rgb"
RK_EXTRA_PARTITION_1_EXT2=y
RK_EXTRA_PARTITION_1_SRC="normal"
RK_EXTRA_PARTITION_2_EXT2=y
RK_EXTRA_PARTITION_2_SRC="normal"
RK_PARAMETER="parameter-64bit.txt"
