RK_UBOOT_CFG="rk3308-aarch32-amp"
RK_UBOOT_INI="RK3308MINIALL.ini"
RK_UBOOT_ARM32=y
RK_AMP=y
RK_AMP_CFG="rockchip_rk3308_rtos_amp_32bit_cfg"
RK_AMP_FIT_ITS="rockchip_rk3308_audio_rtos_amp.its"
# RK_KERNEL is not set
RK_PARAMETER="parameters-rtos-amp.txt"
