RK_BUILDROOT_BASE_CFG="rk3308_b_rkpartybox"
RK_ROOTFS_SQUASHFS=y
RK_WIFIBT_CHIP="AP6256"
RK_UBOOT_INI="RK3308MINIALL.ini"
RK_UBOOT_SPL=y
RK_KERNEL_PREFERRED="5.10"
RK_KERNEL_CFG_FRAGMENTS="rk3308bs_mipi_display.config rk3308_rkpartybox.config"
RK_KERNEL_DTS_NAME="rk3308-evb-audio-v10-partybox"
RK_EXTRA_PARTITION_1_FSTYPE="ext2"
RK_EXTRA_PARTITION_1_SRC="rkpartybox"
RK_EXTRA_PARTITION_2_FSTYPE="ext2"
RK_PARAMETER="parameter-64bit-emmc.txt"
RK_ROOTFS_EXTRA_OVERLAY_DIRS="rkpartybox"
