RK_BUILDROOT_BASE_CFG="rk3308_h_32_release"
RK_ROOTFS_TYPE="squashfs"
RK_WIFIBT_CHIP="RTL8189FS"
RK_UBOOT_CFG="rk3308-aarch32"
RK_KERNEL_CFG="rk3308_linux_aarch32_defconfig"
RK_KERNEL_ARM32=y
RK_KERNEL_DTS_NAME="rk3308hs-voice-module-board-v10-aarch32"
RK_EXTRA_PARTITION_1_FSTYPE="ext2"
RK_EXTRA_PARTITION_2_FSTYPE="ext2"
RK_PARAMETER="parameter-32bit.txt"
