RK_BUILDROOT_BASE_CFG="rk3308_bs_lvgl_release"
RK_ROOTFS_TYPE="squashfs"
RK_WIFIBT_CHIP="AP6256"
RK_UBOOT_INI="RK3308MINIALL_UART4.ini"
RK_KERNEL_CFG_FRAGMENTS="rk3308bs_mipi_display.config"
RK_KERNEL_DTS_NAME="rk3308bs-evb-mipi-display-v11"
RK_EXTRA_PARTITION_1_FSTYPE="ext2"
RK_EXTRA_PARTITION_2_FSTYPE="ext2"
RK_PARAMETER="parameter-64bit.txt"
