RK_UBOOT_CFG="rk3308"
RK_UBOOT_CFG_FRAGMENTS="rk3308-amp.config"
RK_UBOOT_INI="RK3308MINIALL_UART4.ini"
RK_UBOOT_TRUST_INI="RK3308TRUST_CPU3.ini"
RK_RTOS=y
RK_RTOS_CFG="rockchip_rk3308_rtos_linux_64bit_cfg"
RK_RTOS_FIT_ITS="rockchip_rk3308_rtos_linux.its"
RK_KERNEL_DTS_NAME="rk3308b-evb-amic-v10-amp"
RK_PARAMETER="parameters-rtos-linux-amp-64bit.txt"
