# RK_YOCTO is not set
RK_ROOTFS_HOSTNAME_CUSTOM=y
RK_ROOTFS_HOSTNAME="LubanCat"
RK_ROOTFS_INSTALL_MODULES=y
# RK_WIFIBT is not set
RK_UBOOT_SPL=y
RK_KERNEL_PREFERRED="6.1"
RK_KERNEL_CFG="lubancat_linux_rk3562_defconfig"
RK_KERNEL_DTS_NAME="rk3562-lubancat-generic"
RK_USE_FIT_IMG=y
