RK_YOCTO_CFG="rockchip-rk3562-evb"
RK_KERNEL_DTS_NAME="rk3562-evb2-ddr4-v10-linux"
RK_UBOOT_OPTS="--spl-new"
RK_USE_FIT_IMG=y
RK_WIFIBT_CHIP="AP6275S"
RK_WIFIBT_TTY="ttyS1"
RK_PARAMETER="parameter-buildroot-fit.txt"
