RK_BUILDROOT_BASE_CFG="rk3562_dictpen_defconfig"
RK_UBOOT_SPL_INI="RK3562MINIALL_ULTRA.ini"
RK_KERNEL_VERSION="5.10"
RK_KERNEL_CFG="rk3562_linux_dictpen_defconfig"
RK_KERNEL_DTS_NAME="rk3562-dictpen-test3-v20"
RK_USE_FIT_IMG=y
RK_PARAMETER="parameter-buildroot-fit.txt"
RK_WIFIBT_CHIP="AP6203BM"
RK_WIFIBT_TTY="ttyS1"
