# RK_BUILDROOT is not set
RK_ROOTFS_TARGET_LITE=y
RK_KERNEL_CFG="lubancat_linux_rk3528_defconfig"
RK_KERNEL_VERSION="5.10"
RK_KERNEL_DTS_NAME="rk3528-lubancat-generic"
RK_KERNEL_EXTBOOT=y
# RK_RECOVERY is not set
RK_EXTRA_PARTITION_NUM=0
RK_USE_FIT_IMG=y
RK_PACKAGE_FILE_CUSTOM=y
