RK_BUILDROOT_BASE_CFG="rv1126_rv1109_tiny"
RK_ROOTFS_TYPE="squashfs"
RK_KERNEL_CFG_FRAGMENTS="rv1126-spi-nor.config"
RK_KERNEL_DTS_NAME="rv1126-evb-ddr3-v12-spi-nor"
RK_UBOOT_CFG="rv1126-spi-nor-tiny"
RK_UBOOT_CFG_FRAGMENTS="rk-sfc"
RK_UBOOT_OPTS="--idblock --spl-new"
RK_KERNEL_VERSION="4.19"
RK_KERNEL_CFG_FRAGMENTS="rv1126-spi-nor.config"
RK_KERNEL_DTS_NAME="rv1126-evb-ddr3-v12-spi-nor"
RK_BOOT_IMG="zboot.img"
RK_RECOVERY_CFG=""
RK_PARAMETER="parameter-spi-nor-32M.txt"
RK_EXTRA_PARTITION_NUM=1
RK_EXTRA_PARTITION_1_DEV="userdata"
RK_EXTRA_PARTITION_1_FSTYPE="jffs2"
RK_WIFIBT_CHIP=""
