RK_BUILDROOT_CFG="rockchip_rv1126_evb_spi_nor_tb"
RK_ROOTFS_TYPE="romfs"
RK_ROOTFS_INITRD=y
RK_KERNEL_CFG_FRAGMENTS="rv1126-tb.config"
RK_KERNEL_DTS_NAME="rv1126-evb-ddr3-v12-tb-spi-nor"
RK_KERNEL_IMG_NAME="Image"
RK_BOOT_IMG="zboot.img"
RK_USE_FIT_IMG=y
RK_RECOVERY_FIT_ITS="boot-tb.its"
RK_UBOOT_CFG="rv1126-spi-nor-tb"
RK_UBOOT_OPTS="--idblock --spl-new"
RK_WIFIBT_CHIP="AP6256"
RK_PARAMETER="parameter-spi-nor-tb-32M.txt"
