RK_BUILDROOT_CFG="rockchip_rv1126_battery_evb"
RK_ROOTFS_TYPE="romfs"
RK_ROOTFS_INITRD=y
RK_UBOOT_CFG="rv1126-bat-emmc-tb"
RK_KERNEL_VERSION="4.19"
RK_KERNEL_CFG_FRAGMENTS="rv1126-tb.config rv1126-battery-evb.config"
RK_KERNEL_DTS_NAME="rv1126-bat-evb-v11"
RK_KERNEL_IMG_NAME="Image"
RK_BOOT_IMG="zboot.img"
RK_USE_FIT_IMG=y
RK_BOOT_FIT_ITS="boot-tb.its"
RK_RECOVERY_CFG=""
RK_RECOVERY_FIT_ITS=""
RK_PACKAGE_FILE="rv1126-package-file-spi-nor-tb"
RK_PARAMETER="parameter-tb.txt"
RK_EXTRA_PARTITION_1_SRC=""
RK_EXTRA_PARTITION_2_SRC=""
