RK_UBOOT_OPTS="--spl-new"
RK_KERNEL_DTS_NAME="rv1126-evb-ddr3-v12"
RK_BOOT_IMG="zboot.img"
RK_USE_FIT_IMG=y
RK_WIFIBT_CHIP="AP6256"
RK_PARAMETER="parameter-buildroot-fit.txt"
RK_EXTRA_PARTITION_1_SRC="ipc"
